Source: piaware-support
Section: embedded
Priority: extra
Maintainer: FlightAware Developers <adsb-devs@flightaware.com>
Build-Depends: debhelper(>=9), dh-systemd, tcl
Standards-Version: 3.9.3
Homepage: https://github.com/flightaware

Package: piaware-support
Architecture: all
Depends: piaware, wireless-tools, wpasupplicant (>= 2.3-1+deb8u5), crda, ifplugd, rfkill, atmel-firmware, firmware-atheros, firmware-brcm80211, firmware-intelwimax, firmware-iwlwifi, libertas-firmware, firmware-linux, firmware-ralink, firmware-realtek, firmware-ti-connectivity, firmware-zd1211, whois, ${misc:Depends}
Recommends: piaware-repository
Description: Support package for PiAware sdcard images.
 Handles boot-time configuration.

Package: piaware-repository
Architecture: all
Description: Installs the PiAware apt repository configuration.
 This allows installation and upgrading of the PiAware packages via apt-get.

Package: piaware-repository-testing
Architecture: all
Depends: piaware-repository
Description: PiAware apt repository configuration (testing environment)
 An alternative repository used during development. Only really of interest
 to FlightAware developers for preparing new sdcard images for testing.

Package: piaware-release
Architecture: all
Depends: piaware-repository (= ${binary:Version}), piaware-support (= ${binary:Version}),
 piaware (= 6.1~bpo9+1),
 beast-splitter (= 6.1~bpo9+1),
 dump1090-fa (= 6.1~bpo9+1),
 dump978-fa (= 6.1~bpo9+1), skyaware978 (= 6.1~bpo9+1),
 piaware-web (= 6.1~bpo9+1),
 raspi-config, logrotate, resolvconf, usbutils, nano,
 rtl-sdr, soapysdr-module-rtlsdr,
 socat, netcat-openbsd, plymouth, plymouth-themes,
 ntp,
 sudo (>= 1.8.19p1-2.1+deb9u3)
Breaks: piaware-repository-testing (<< ${binary:Version})
Description: Metapackage for PiAware sdcard releases.
 Metapackage that depends on the specific packages that
 make up a PiAware sdcard release.
