# This service generates a network configuration
# based on the contents of /boot/piaware-config.txt

[Unit]
Description=Generate network configuration
ConditionPathExistsGlob=/boot/piaware-config.txt
Before=network-pre.target
Wants=network-pre.target
After=local-fs.target
Wants=wait-for-usb-drives.service
After=wait-for-usb-drives.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/lib/piaware-support/generate-network-config

[Install]
WantedBy=network.target
