# This service generates dump1090-fa configuration
# based on the contents of /boot/piaware-config.txt

[Unit]
Description=Generate dump1090-fa configuration
ConditionPathExistsGlob=/boot/piaware-config.txt
Before=dump1090-fa.service
Wants=wait-for-usb-drives.service
After=wait-for-usb-drives.service

[Service]
Type=oneshot
ExecStart=/usr/lib/piaware-support/generate-dump1090-config

[Install]
WantedBy=dump1090-fa.service
