Source: piaware-support
Section: embedded
Priority: extra
Maintainer: FlightAware Developers <adsb-devs@flightaware.com>
Build-Depends: debhelper(>=9), dh-systemd, tcl
Standards-Version: 3.9.3
Homepage: https://github.com/flightaware

Package: piaware-support
Architecture: all
Depends: piaware, wireless-tools, wpasupplicant, crda, ifplugd, ${misc:Depends}
Recommends: piaware-repository
Description: Support package for PiAware sdcard images.
 Handles boot-time configuration.

Package: piaware-repository
Architecture: all
Description: Installs the PiAware apt repository configuration.
 This allows installation and upgrading of the PiAware packages via apt-get.
