[Unit]
Description=Display PiAware status on tty1
Wants=config-ready.target
After=config-ready.target
After=systemd-user-sessions.service plymouth-quit-wait.service
ConditionPathExists=/dev/tty1
Conflicts=getty@tty1.service

[Service]
ExecStart=/usr/lib/piaware-support/piaware-console-status
Type=simple
User=piaware
Restart=always
RestartSec=60
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
StandardInput=tty-force
StandardOutput=tty

[Install]
WantedBy=default.target
