#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1

override_dh_systemd_enable:
	[ ! -f debian/piaware-support.regenerate-ssh-keys.service ] || dh_systemd_enable -ppiaware-support --name=regenerate-ssh-keys regenerate-ssh-keys.service
	dh_systemd_enable -ppiaware-support --name=generate-network-config generate-network-config.service
	dh_systemd_enable -ppiaware-support --name=generate-receiver-config generate-receiver-config.service
	dh_systemd_enable -ppiaware-support --name=wait-for-usb-drives wait-for-usb-drives.service
	dh_systemd_enable -ppiaware-support --name=set-rfkill set-rfkill.service
	dh_systemd_enable -ppiaware-support --name=config-ready config-ready.target
	dh_systemd_enable -ppiaware-release --name=piaware-console-status piaware-console-status.service

override_dh_systemd_start:
	[ ! -f debian/piaware-support.regenerate-ssh-keys.service ] || dh_systemd_start -ppiaware-support --no-start --name=regenerate-ssh-keys regenerate-ssh-keys.service
	dh_systemd_start -ppiaware-support --no-start --name=generate-network-config generate-network-config.service
	dh_systemd_start -ppiaware-support --no-start --name=generate-receiver-config generate-receiver-config.service
	dh_systemd_start -ppiaware-support --no-start --name=wait-for-usb-drives wait-for-usb-drives.service
	dh_systemd_start -ppiaware-support --name=set-rfkill set-rfkill.service
	dh_systemd_start -ppiaware-support --no-start --name=config-ready config-ready.target
	dh_systemd_start -ppiaware-release --name=piaware-console-status piaware-console-status.service

%:
	dh $@ --with=systemd
