Source: piaware-support
Section: embedded
Priority: extra
Maintainer: FlightAware Developers <adsb-devs@flightaware.com>
Build-Depends: debhelper(>=10), tcl
Standards-Version: 3.9.3
Homepage: https://github.com/flightaware

Package: piaware-support
Architecture: all
Depends: piaware, wireless-tools, wpasupplicant, rfkill, atmel-firmware, firmware-atheros, firmware-brcm80211, firmware-intelwimax, firmware-iwlwifi, libertas-firmware, firmware-linux, firmware-ralink, firmware-realtek, firmware-ti-connectivity, firmware-zd1211, whois, network-manager, ${misc:Depends}
Description: Support package for PiAware sdcard images.
 Handles boot-time configuration.

Package: piaware-release
Architecture: all
Depends: piaware-support (= ${binary:Version}),
 piaware (= 10.0~dev),
 beast-splitter (= 10.0~dev),
 dump1090-fa (= 10.0~dev),
 dump978-fa (= 10.0~dev), skyaware978 (= 10.0~dev),
 piaware-web (= 10.0~dev),
 piaware-configurator (= 10.0~dev),
 piaware-ble-connect (= 10.0~dev),
 flightaware-apt-repository (>= 1.2),
 raspi-config, logrotate, resolvconf, usbutils, nano,
 rtl-sdr, soapysdr-module-rtlsdr,
 socat, netcat-openbsd, plymouth, plymouth-themes,
 ntp, policykit-1 (>= 0.105-31+rpt1+deb11u1)
Conflicts: piaware-repository
Replaces: piaware-repository
Breaks: piaware-repository-testing (<< ${binary:Version})
Description: Metapackage for PiAware sdcard releases.
 Metapackage that depends on the specific packages that
 make up a PiAware sdcard release.