# This service starts wifi and wired network 
# based on the contents of /boot/firmware/piaware-config.txt

[Unit]
Description=Start Network Service
After=NetworkManager.service

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /usr/lib/piaware-support/start_network.py

[Install]
WantedBy=network.target
